/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
    animation: rotation 20s linear infinite;
    position: absolute;
    top: 64px;
    right: 0px;
    height: 568px;
    width: 568px;
    z-index: 0;
    background-color:  #2f80ed ;
  }